In [10]:
import pandas as pd

In [13]:
dataset= pd.read_csv("test.csv")
dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [14]:
dataset.head()                  #for checking first five rows of a dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [19]:
dataset.tail () #for checking last five rows of dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [17]:
dataset.shape               #for checking shape of  a dataset

(1459, 80)

In [21]:
dataset.describe()    #for checking information of dataset

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [22]:
import pandas as pd

In [23]:
Dataset=pd.read_csv("X_train.csv")
Dataset

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0
2,3,12.317167,0.235294,0.75,0.434909,0.422359,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0
3,4,11.849398,0.294118,0.75,0.388581,0.390295,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0
4,5,12.429216,0.235294,0.75,0.513123,0.468761,1.0,1.0,0.333333,0.333333,...,1.00,1.0,0.00000,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,12.072541,0.235294,0.75,0.400718,0.353592,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.636364,0.25,0.666667,0.75,0.0,0.0,0.0
1456,1457,12.254863,0.000000,0.75,0.517503,0.453273,1.0,1.0,0.000000,0.333333,...,0.50,1.0,0.00000,0.090909,1.00,0.666667,0.75,0.0,0.0,0.0
1457,1458,12.493130,0.294118,0.75,0.423859,0.379597,1.0,1.0,0.000000,0.333333,...,0.75,0.5,0.16129,0.363636,1.00,0.666667,0.75,0.0,0.0,0.0
1458,1459,11.864462,0.000000,0.75,0.434909,0.393688,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.272727,1.00,0.666667,0.75,0.0,0.0,0.0
1459,1460,11.901583,0.000000,0.75,0.471175,0.398069,1.0,1.0,0.000000,0.333333,...,1.00,1.0,0.00000,0.454545,0.50,0.666667,0.75,0.0,0.0,0.0

In [24]:
Dataset.shape

(1460, 84)

In [25]:
Dataset.head()

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.000000,0.333333,...,1.0,1.0,0.0,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.000000,0.333333,...,1.0,1.0,0.0,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0
2,3,12.317167,0.235294,0.75,0.434909,0.422359,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0
3,4,11.849398,0.294118,0.75,0.388581,0.390295,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0
4,5,12.429216,0.235294,0.75,0.513123,0.468761,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0

In [26]:
Dataset.tail()

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
1455,1456,12.072541,0.235294,0.75,0.400718,0.353592,1.0,1.0,0.0,0.333333,...,1.00,1.0,0.00000,0.636364,0.25,0.666667,0.75,0.0,0.0,0.0
1456,1457,12.254863,0.000000,0.75,0.517503,0.453273,1.0,1.0,0.0,0.333333,...,0.50,1.0,0.00000,0.090909,1.00,0.666667,0.75,0.0,0.0,0.0
1457,1458,12.493130,0.294118,0.75,0.423859,0.379597,1.0,1.0,0.0,0.333333,...,0.75,0.5,0.16129,0.363636,1.00,0.666667,0.75,0.0,0.0,0.0
1458,1459,11.864462,0.000000,0.75,0.434909,0.393688,1.0,1.0,0.0,0.333333,...,1.00,1.0,0.00000,0.272727,1.00,0.666667,0.75,0.0,0.0,0.0
1459,1460,11.901583,0.000000,0.75,0.471175,0.398069,1.0,1.0,0.0,0.333333,...,1.00,1.0,0.00000,0.454545,0.50,0.666667,0.75,0.0,0.0,0.0

In [27]:
Dataset.iloc[0:3,0:3]       #For slicing #for extracting data as per index

   Id  SalePrice  MSSubClass
0   1  12.247694    0.235294
1   2  12.109011    0.000000
2   3  12.317167    0.235294

In [29]:
Dataset.iloc[5:10,5:10]

    LotArea  Street  Alley  LotShape  LandContour
5  0.466761     1.0    1.0  0.333333     0.333333
6  0.400943     1.0    1.0  0.000000     0.333333
7  0.406643     1.0    1.0  0.333333     0.333333
8  0.303205     1.0    1.0  0.000000     0.333333
9  0.340903     1.0    1.0  0.000000     0.333333

In [32]:
Dataset.iloc[0:5,4:5]

   LotFrontage
0     0.418208
1     0.495064
2     0.434909
3     0.388581
4     0.513123

In [35]:
Dataset.head()

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.000000,0.333333,...,1.0,1.0,0.0,0.090909,0.50,0.666667,0.75,0.0,0.0,0.0
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.000000,0.333333,...,1.0,1.0,0.0,0.363636,0.25,0.666667,0.75,0.0,0.0,0.0
2,3,12.317167,0.235294,0.75,0.434909,0.422359,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,0.727273,0.50,0.666667,0.75,0.0,0.0,0.0
3,4,11.849398,0.294118,0.75,0.388581,0.390295,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,0.090909,0.00,0.666667,0.00,0.0,0.0,0.0
4,5,12.429216,0.235294,0.75,0.513123,0.468761,1.0,1.0,0.333333,0.333333,...,1.0,1.0,0.0,1.000000,0.50,0.666667,0.75,0.0,0.0,0.0

In [40]:
Dataset.iloc[0:2,0:14]

,Id,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood
0,1,12.247694,0.235294,0.75,0.418208,0.366344,1.0,1.0,0.0,0.333333,1.0,0.0,0.0,0.636364
1,2,12.109011,0.000000,0.75,0.495064,0.391317,1.0,1.0,0.0,0.333333,1.0,0.5,0.0,0.500000

In [45]:
Dataset.loc[0:5,("Id","SalePrice","LotFrontage","LotArea","Street")]        #for extracting data as per names of columns

   Id  SalePrice  LotFrontage   LotArea  Street
0   1  12.247694     0.418208  0.366344     1.0
1   2  12.109011     0.495064  0.391317     1.0
2   3  12.317167     0.434909  0.422359     1.0
3   4  11.849398     0.388581  0.390295     1.0
4   5  12.429216     0.513123  0.468761     1.0
5   6  11.870600     0.517503  0.466761     1.0

In [46]:
Dataset.loc[0:5,("Alley","LotShape","LandContour","Utilities")]

   Alley  LotShape  LandContour  Utilities
0    1.0  0.000000     0.333333        1.0
1    1.0  0.000000     0.333333        1.0
2    1.0  0.333333     0.333333        1.0
3    1.0  0.333333     0.333333        1.0
4    1.0  0.333333     0.333333        1.0
5    1.0  0.333333     0.333333        1.0

In [1]:
import pandas as pd

In [3]:
s= pd.read_csv("test.csv")
s

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
s.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [5]:
s.drop("PoolArea",axis=1)  
#for removing column or rows we use "drop" command
#if we put axis=1 then we can remove column
#if we put axis=0 we can remove rows(as per index given by you)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,3SsnPorch,ScreenPorch,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,120,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,144,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [6]:
s.drop("LotFrontage",axis=1)

,Id,MSSubClass,MSZoning,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,1936,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,1894,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,20000,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,10441,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,9627,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [7]:
s.drop("LotArea",axis=1)

,Id,MSSubClass,MSZoning,LotFrontage,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [11]:
s.drop(["Alley","Street"],axis=1)  #droping multiple columns
#incase we write #inplace=True so that columns drops permenantly from dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Reg,Lvl,AllPub,Inside,Gtl,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,IR1,HLS,AllPub,Inside,Gtl,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Reg,Lvl,AllPub,Inside,Mod,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [12]:
s.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [14]:
s.drop(["Id","LotArea","Street"],axis=1)

,MSSubClass,MSZoning,LotFrontage,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,NaN,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,NaN,IR1,HLS,AllPub,Inside,Gtl,StoneBr,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,160,RM,21.0,NaN,Reg,Lvl,AllPub,Inside,Gtl,MeadowV,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,160,RM,21.0,NaN,Reg,Lvl,AllPub,Inside,Gtl,MeadowV,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,20,RL,160.0,NaN,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,85,RL,62.0,NaN,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,60,RL,74.0,NaN,Reg,Lvl,AllPub,Inside,Mod,Mitchel,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [19]:
s.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LandContour,Utilities,LotConfig,LandSlope,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,Lvl,AllPub,Inside,Gtl,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,Lvl,AllPub,Corner,Gtl,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,Lvl,AllPub,Inside,Gtl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,HLS,AllPub,Inside,Gtl,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [20]:
s.drop(["Id","Street"],axis=1,inplace=True)           #in this we drops "Id" and "Street" permonently from dataset

In [21]:
s.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,HLS,AllPub,Inside,Gtl,StoneBr,Norm,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [22]:
s.drop(["LotArea","LandContour","Utilities"],axis=1,inplace=True)

In [23]:
s.head()

,MSSubClass,MSZoning,LotFrontage,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [25]:
s.drop(["MSSubClass","MSZoning"],axis=1,inplace=True)

In [26]:
s.head()

,LotFrontage,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,80.0,Inside,Gtl,NAmes,Feedr,Norm,1Fam,1Story,5,6,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,81.0,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,6,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,74.0,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,5,5,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,78.0,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,6,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,43.0,Inside,Gtl,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [27]:
s.tail()

,LotFrontage,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,21.0,Inside,Gtl,MeadowV,Norm,Norm,Twnhs,2Story,4,7,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,21.0,Inside,Gtl,MeadowV,Norm,Norm,TwnhsE,2Story,4,5,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,160.0,Inside,Gtl,Mitchel,Norm,Norm,1Fam,1Story,5,7,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,62.0,Inside,Gtl,Mitchel,Norm,Norm,1Fam,SFoyer,5,5,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,74.0,Inside,Mod,Mitchel,Norm,Norm,1Fam,2Story,7,5,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [28]:
s.drop(["LotFrontage","LotConfig","LandSlope"],axis=1,inplace=True)

In [29]:
s.head()

,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,NAmes,Feedr,Norm,1Fam,1Story,5,6,1961,1961,Gable,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,NAmes,Norm,Norm,1Fam,1Story,6,6,1958,1958,Hip,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,Gilbert,Norm,Norm,1Fam,2Story,5,5,1997,1998,Gable,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,Gilbert,Norm,Norm,1Fam,2Story,6,6,1998,1998,Gable,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,StoneBr,Norm,Norm,TwnhsE,1Story,8,5,1992,1992,Gable,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [31]:
Dataset=pd.read_csv("test.csv")

In [32]:
Dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [37]:
Dataset.drop([3,4],axis=0)         #droping 3rd and 4th row from dataset
                                   #axis =0 (indicates for rows)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [38]:
Dataset.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
5,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [39]:
Dataset.drop([1,2,3,4,5],axis=0,inplace=True)      #droping first five rows from given dataset

In [40]:
Dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
6,1467,20,RL,NaN,7980,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,500,3,2010,WD,Normal
7,1468,60,RL,63.0,8402,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal

In [41]:
Dataset.drop([6,7],axis=0,inplace=True) #here we droped 6th and 7th row from given dataset

In [42]:
Dataset.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
8,1469,20,RL,85.0,10176,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,WD,Normal
9,1470,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,4,2010,WD,Normal
10,1471,120,RH,26.0,5858,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
11,1472,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2010,COD,Normal

In [43]:
Dataset.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1452.000000,1452.000000,1226.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1437.000000,1451.000000,...,1451.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000,1452.000000
mean,2193.495179,57.379477,68.578303,9818.659780,6.078512,5.553719,1971.269284,1983.621901,101.110647,438.900758,...,472.966230,92.518595,48.293388,24.360193,1.803030,17.047521,1.752755,49.495179,6.114325,2007.758953
std,419.308996,42.795604,22.413389,4962.980265,1.439104,1.115275,30.422680,21.148835,177.945810,455.573759,...,217.512732,127.109379,69.027482,67.368590,20.256142,56.637589,30.564866,541.231143,2.722525,1.295604
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1830.750000,20.000000,58.000000,7387.500000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,317.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2193.500000,50.000000,67.000000,9395.500000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.000000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2556.250000,70.000000,80.000000,11516.250000,7.000000,6.000000,2001.000000,2004.000000,164.000000,748.500000,...,576.500000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [4]:
import pandas as pd

In [5]:
s1=pd.read_csv("test.csv")

In [45]:
s1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [46]:
#more pandas function
#mean
#median
#minimum
#maximum

In [47]:
s1.min()                    #for checking minimum values of each columns from given dataset

Id                  1461
MSSubClass            20
LotFrontage         21.0
LotArea             1470
Street              Grvl
LotShape             IR1
LandContour          Bnk
LotConfig         Corner
LandSlope            Gtl
Neighborhood     Blmngtn
Condition1        Artery
Condition2        Artery
BldgType            1Fam
HouseStyle        1.5Fin
OverallQual            1
OverallCond            1
YearBuilt           1879
YearRemodAdd        1950
RoofStyle           Flat
RoofMatl         CompShg
MasVnrArea           0.0
ExterQual             Ex
ExterCond             Ex
Foundation        BrkTil
BsmtFinSF1           0.0
BsmtFinSF2           0.0
BsmtUnfSF            0.0
TotalBsmtSF          0.0
Heating             GasA
HeatingQC             Ex
CentralAir             N
Electrical         FuseA
1stFlrSF             407
2ndFlrSF               0
LowQualFinSF           0
GrLivArea            407
BsmtFullBath         0.0
BsmtHalfBath         0.0
FullBath               0
HalfBath               0
BedroomAbvGr           0
KitchenAbvGr           0
TotRmsAbvGrd           3
Fireplaces             0
GarageYrBlt       1895.0
GarageCars           0.0
GarageArea           0.0
PavedDrive             N
WoodDeckSF             0
OpenPorchSF            0
EnclosedPorch          0
3SsnPorch              0
ScreenPorch            0
PoolArea               0
MiscVal                0
MoSold                 1
YrSold              2006
SaleCondition    Abnorml
dtype: object

In [48]:
s1.max()   #for checking maximum values from each column from given dataset

Id                  2919
MSSubClass           190
LotFrontage        200.0
LotArea            56600
Street              Pave
LotShape             Reg
LandContour          Lvl
LotConfig         Inside
LandSlope            Sev
Neighborhood     Veenker
Condition1          RRNn
Condition2          PosN
BldgType          TwnhsE
HouseStyle          SLvl
OverallQual           10
OverallCond            9
YearBuilt           2010
YearRemodAdd        2010
RoofStyle           Shed
RoofMatl         WdShngl
MasVnrArea        1290.0
ExterQual             TA
ExterCond             TA
Foundation          Wood
BsmtFinSF1        4010.0
BsmtFinSF2        1526.0
BsmtUnfSF         2140.0
TotalBsmtSF       5095.0
Heating             Wall
HeatingQC             TA
CentralAir             Y
Electrical         SBrkr
1stFlrSF            5095
2ndFlrSF            1862
LowQualFinSF        1064
GrLivArea           5095
BsmtFullBath         3.0
BsmtHalfBath         2.0
FullBath               4
HalfBath               2
BedroomAbvGr           6
KitchenAbvGr           2
TotRmsAbvGrd          15
Fireplaces             4
GarageYrBlt       2207.0
GarageCars           5.0
GarageArea        1488.0
PavedDrive             Y
WoodDeckSF          1424
OpenPorchSF          742
EnclosedPorch       1012
3SsnPorch            360
ScreenPorch          576
PoolArea             800
MiscVal            17000
MoSold                12
YrSold              2010
SaleCondition    Partial
dtype: object

In [49]:
s1.mean()  #for taking mean of each column from given dataset

Id               2190.000000
MSSubClass         57.378341
LotFrontage        68.580357
LotArea          9819.161069
OverallQual         6.078821
OverallCond         5.553804
YearBuilt        1971.357779
YearRemodAdd     1983.662783
MasVnrArea        100.709141
BsmtFinSF1        439.203704
BsmtFinSF2         52.619342
BsmtUnfSF         554.294925
TotalBsmtSF      1046.117970
1stFlrSF         1156.534613
2ndFlrSF          325.967786
LowQualFinSF        3.543523
GrLivArea        1486.045922
BsmtFullBath        0.434454
BsmtHalfBath        0.065202
FullBath            1.570939
HalfBath            0.377656
BedroomAbvGr        2.854010
KitchenAbvGr        1.042495
TotRmsAbvGrd        6.385195
Fireplaces          0.581220
GarageYrBlt      1977.721217
GarageCars          1.766118
GarageArea        472.768861
WoodDeckSF         93.174777
OpenPorchSF        48.313914
EnclosedPorch      24.243317
3SsnPorch           1.794380
ScreenPorch        17.064428
PoolArea            1.744345
MiscVal            58.167923
MoSold              6.104181
YrSold           2007.769705
dtype: float64

In [50]:
s1.median()     #for taking median of each column from given dataset

Id               2190.0
MSSubClass         50.0
LotFrontage        67.0
LotArea          9399.0
OverallQual         6.0
OverallCond         5.0
YearBuilt        1973.0
YearRemodAdd     1992.0
MasVnrArea          0.0
BsmtFinSF1        350.5
BsmtFinSF2          0.0
BsmtUnfSF         460.0
TotalBsmtSF       988.0
1stFlrSF         1079.0
2ndFlrSF            0.0
LowQualFinSF        0.0
GrLivArea        1432.0
BsmtFullBath        0.0
BsmtHalfBath        0.0
FullBath            2.0
HalfBath            0.0
BedroomAbvGr        3.0
KitchenAbvGr        1.0
TotRmsAbvGrd        6.0
Fireplaces          0.0
GarageYrBlt      1979.0
GarageCars          2.0
GarageArea        480.0
WoodDeckSF          0.0
OpenPorchSF        28.0
EnclosedPorch       0.0
3SsnPorch           0.0
ScreenPorch         0.0
PoolArea            0.0
MiscVal             0.0
MoSold              6.0
YrSold           2008.0
dtype: float64

In [52]:
s1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [54]:
def double_make(s): 
    return s*2         #in this we multiplying "Lotfrontage" and "mssubclass" by 2

In [56]:
s1[["LotFrontage","MSSubClass"]].apply(double_make)

      LotFrontage  MSSubClass
0           160.0          40
1           162.0          40
2           148.0         120
3           156.0         120
4            86.0         240
...           ...         ...
1454         42.0         320
1455         42.0         320
1456        320.0          40
1457        124.0         170
1458        148.0         120

[1459 rows x 2 columns]

In [58]:
def half(s):                         #in this we devide "LotFrontage","LotArea" by 2
    return s/2

In [59]:
s1[["LotFrontage","LotArea"]].apply(half)

      LotFrontage  LotArea
0            40.0   5811.0
1            40.5   7133.5
2            37.0   6915.0
3            39.0   4989.0
4            21.5   2502.5
...           ...      ...
1454         10.5    968.0
1455         10.5    947.0
1456         80.0  10000.0
1457         31.0   5220.5
1458         37.0   4813.5

[1459 rows x 2 columns]

In [60]:
 def add(s):
    return s+10       #here we add 10 in lotarea and lotfrontage

In [61]:
s1[["LotArea","LotFrontage"]].apply(add)

      LotArea  LotFrontage
0       11632         90.0
1       14277         91.0
2       13840         84.0
3        9988         88.0
4        5015         53.0
...       ...          ...
1454     1946         31.0
1455     1904         31.0
1456    20010        170.0
1457    10451         72.0
1458     9637         84.0

[1459 rows x 2 columns]

In [62]:
def substract(s):
    return s-20           #here we substract lotarea and lotfrontage with 20

In [63]:
s1[["LotArea","LotFrontage"]].apply(substract)

      LotArea  LotFrontage
0       11602         60.0
1       14247         61.0
2       13810         54.0
3        9958         58.0
4        4985         23.0
...       ...          ...
1454     1916          1.0
1455     1874          1.0
1456    19980        140.0
1457    10421         42.0
1458     9607         54.0

[1459 rows x 2 columns]

In [65]:
def add_sub(s):
    return s+10-5       #here we add and substract from both columns

In [66]:
s1[["LotFrontage","LotArea"]].apply(add_sub)

      LotFrontage  LotArea
0            85.0    11627
1            86.0    14272
2            79.0    13835
3            83.0     9983
4            48.0     5010
...           ...      ...
1454         26.0     1941
1455         26.0     1899
1456        165.0    20005
1457         67.0    10446
1458         79.0     9632

[1459 rows x 2 columns]

In [69]:
s1["LotArea"].value_counts()               #for checking value count from any column from given dataset

9600     20
7200     18
6000     17
9000     15
7500     12
         ..
10990     1
8088      1
13041     1
6900      1
12285     1
Name: LotArea, Length: 1106, dtype: int64

In [70]:
s1["Street"].value_counts()

Pave    1453
Grvl       6
Name: Street, dtype: int64

In [71]:
s1["YrSold"].value_counts()

2007    363
2008    318
2009    309
2006    305
2010    164
Name: YrSold, dtype: int64

In [72]:
s1["SaleCondition"].value_counts()

Normal     1204
Partial     120
Abnorml      89
Family       26
Alloca       12
AdjLand       8
Name: SaleCondition, dtype: int64

In [7]:
s1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [9]:
s1["LotShape"].value_counts()

Reg    934
IR1    484
IR2     35
IR3      6
Name: LotShape, dtype: int64

In [10]:
s1["Utilities"].value_counts()

AllPub    1457
Name: Utilities, dtype: int64

In [11]:
s1["SaleType"].value_counts()

WD       1258
New       117
COD        44
ConLD      17
CWD         8
ConLI       4
Oth         4
Con         3
ConLw       3
Name: SaleType, dtype: int64

In [12]:
s1.sort_values(by="MSSubClass")    #values sorted as per "MSSubClass"

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
515,1976,20,RL,92.0,10845,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal
1096,2557,20,RL,60.0,8172,Pave,NaN,Reg,HLS,AllPub,...,0,0,NaN,NaN,NaN,0,10,2007,COD,Family
1095,2556,20,RL,60.0,8172,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,7,2007,WD,Normal
1091,2552,20,RL,64.0,6400,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2007,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,2772,190,RL,70.0,7000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,3,2006,WD,Normal
1106,2567,190,RL,79.0,6221,Pave,NaN,IR1,Lvl,AllPub,...,144,0,NaN,MnPrv,NaN,0,10,2007,WD,Normal
1293,2754,190,RL,94.0,22136,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,7,2006,WD,Normal
1432,2893,190,C (all),50.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml
350,1811,190,RM,63.0,7627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,10,2009,WD,Normal